#article-div {
    width: 100%;
    float: left;
}

#headline {
    margin: 10px;
}

/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 800px) {
    #article-div {
        width: 100%;
    }
}