#aside-div {
    width: 25%;
    float: left;
    display: none;
}

/* If the screen size is 600px wide or less, hide the element */
@media screen and (max-width: 800px) {
    #aside-div {
        display: none;
    }
}