#div-footer {
    padding-top: 30px;
    font-size: 15px;
}

#footer-about {
    text-decoration: none;
    color: black;
    margin-left: 10%;
    float: left;
}

#footer-contact {
    text-decoration: none;
    color: black;
    margin-left: 30%;
}

#footer-privacy {
    text-decoration: none;
    color: black;
    margin-right: 10%;
    float: right;
}

#footer-para {
    text-align: center;
}

/* If the screen size is 1000px wide or less, hide the element */
@media screen and (max-width: 800px) {
    #footer-contact {
        margin-left: 25%;
    }
}

/* If the screen size is 1000px wide or less, hide the element */
@media screen and (max-width: 400px) {
    #footer-contact {
        margin-left: 10%;
    }
}