#header{
    width: 100%;
    height:50px;
    position: fixed;
}

#nav {
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    margin-top: 50px;
    display: block;
}

#slide {
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    margin-top: 50px;
    display: block;
}

#section {
    width: 80%;
    float: left;
    margin-left:20%;
    margin-top: 50px;
}

#footer {
    width: 80%;
    height: 100px;
    float: left;
    background-color:#F2F0CE;
    margin-left:20%;
}

#div-loading {
    text-align: center;
}

#div-error {
    margin: 20% 35%;
}

/* If the screen size is 1000px wide or less, hide the element */
@media screen and (max-width: 1000px) {
    #nav {
        display: none;
    }
    
    #slide {
        width: 30%;
    }

    #section {
        margin-left:0%;
        width:100%;
    }

    #footer {
        margin-left:0%;
        width:100%;
    }

    #div-error {
        margin: 50% 5%;
    }
}

/* If the screen size is 750px wide or less, hide the element */
@media screen and (max-width: 650px) {
    #slide {
        width: 50%;
    }
}