#nav-div {
    width: 90%;
}

.nav-link {
    display: block;
    padding: 15px ;
    border: none;
    width: 100%;
    text-align: start;
    font-size: 16px;
    text-decoration: none;
    background-color:#C8E0E8;
    color:black;
    margin: 1px;
}
  
.nav-link:hover:not(.active) {
    background-color:#B4D9E3;
    color: white;
}
  